/***********************************
--General styles---
***********************************/
body {
    font-family: 'Open Sans', sans-serif;
    background-color:#EEEEEE;
}
/***********************************
--Header---
***********************************/
.header {
    height: 80px;
    background-color: #2F2F2F;
    padding-top:10px;
}

.header .input-search {
    background-color: #575757;
    height: 40px;
    margin-top: 10px;
    color: #FFFFFF;
    padding-left: 20px;
    border: 2px solid #2F2F2F;
    font-size: 15px;
}
.header .lbl-login {
    height: 40px;
    margin-top: 20px;
    color: #575757;
    padding-left: 10px;
    font-size: 15px;
}
.header .form-group {
    width:250px;
}

.header .glyphicon {
    color:#FFFFFF;
    font-size:15px;
    padding: 2px, 10px, 0, 0;
}
.header .glyphicon-user {
    color: #CDCDCD;
}

.header .btn-group {
    margin-top: 12px;
}
.header .container-cesta {
    width: 75px;
    background-color: #FF3D2A;
    height: 78px;
    padding: 20px;
    margin-top: -10px;
}

.header .btn-group .btn-default {
    background-color: #2F2F2F;
    color: #575757;
    font-size: 15px;
    border-color: #2F2F2F;
}

.btn-group .open .btn-default, .btn-group .open .btn-default:active, .btn-group .open .btn-toggle.btn-default:hover {
    background-color: #252525;
}
/***********************************
--Menu---
***********************************/
#div-menu {
    font-size: 16px;
    padding-bottom:80px;
}
#div-menu li {
    padding: 5px;
}
#div-menu li:hover {
    background-color: #FF3D2A;
}
#div-menu .active {
    background-color: #FF3D2A;
}
#div-menu .active a{
    background-color: #FF3D2A;
    color: #FFF;
}
#div-menu a {
    text-decoration: none;
    color: #575757;
}
#div-menu a:hover {
    color: #FFFFFF;
    background-color: #FF3D2A;
}
#div-menu .highlighted {
    color: #FF3D2A;
}
/***********************************
--Banner---
***********************************/
#div-banner {
    background-color: #2F2F2F;
    padding: 5px;
    color: #D3D3D3;
}
#div-banner li{
    padding: 5px;
}
#div-banner li .big{
    font-size: 40px;
}
#div-banner li img {
    margin-left:35px;
    margin-top:15px;
}
#div-cards .text {
    background-color: #F5F5F5;
    font-size: small;
}
/***********************************
--Footer---
***********************************/
footer {
    background-color: #2F2F2F;
    color: #575757;
    margin-top:20px;
    padding-bottom:60px;
}
footer .list-horizontal {
    padding:40px 45px 30px 0;
}
footer .info-footer {
    padding-bottom: 10px;
    font-size: small;
}
footer .text-logo {
    font-size:small;
}
footer .big-text-logo {
    font-size:27px;
}
footer .big-text-airport {
    font-size: 17px;
    font-weight:bold;
}
footer i {
    background-color: #CDCDCD;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}
.copy-right {
    font-size:smaller;
}
.copy-right a {
    color: #575757;
} 
.no-padding {
    padding: 0;
}

/***********************************
--Home Content---
***********************************/
#order-container label {
    font-size:x-small;
    padding:0 10px 0 10px;
}
#order-container input[type="range"] {
    display: inline;
    width: 140px;
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

    /* Mouse-over effects */
    .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 15px; /* Set a specific slider handle width */
        height: 15px; /* Slider handle height */
        background: #EAEAEB; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }

    .slider::-moz-range-thumb {
        width: 15px; /* Set a specific slider handle width */
        height: 15px; /* Slider handle height */
        background: #EAEAEB; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }
